.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: default;
}

.membership-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.without-package-name {
  color: var(--warn-500, #dc2626);
}

.expired-package-name {
  color: #acb0a6;
}
