<app-configuration></app-configuration>
<mat-drawer-container class="drawer-container" [dir]="direction">
  <mat-drawer
    #sidebar
    class="pc-sidebar"
    [mode]="modeValue"
    opened
    [ngClass]="{
      compact: currentLayout === 'compact',
      horizontal: currentLayout === 'horizontal'
    }"
  >
    <nav aria-label="Sidebar navigation">
      <div class="navbar-wrapper">
        <div class="m-header">
          <a href="/" class="flex align-item-center" aria-label="Home">
            <img src="assets/images/logo-dark.svg" class="app-logo app-logo--sm" alt="Agial Alquran logo" />
          </a>
          <a href="https://phoenixcoded.gitbook.io/able-pro/versioning" target="_blank" class="version" aria-label="App version">
            v{{ 1.0.0 }}
          </a>
        </div>
        @if (currentLayout === 'vertical') {
          <app-vertical-menu [menus]="menus" />
        }
        @if (currentLayout === 'compact') {
          <app-compact-menu [menus]="menus" />
        }
      </div>
    </nav>
  </mat-drawer>
  <div>
    <header>
      <app-nav-bar
        [ngClass]="{
          'horizontal-navbar': currentLayout === 'horizontal'
        }"
      />
      @if (currentLayout === 'horizontal') {
        <app-horizontal-menu
          [menus]="menus"
          [ngClass]="{
            'horizontal-menu': currentLayout === 'horizontal'
          }"
        />
      }
    </header>

    <main class="app-container" aria-label="Dashboard content">
      <div class="main-body">
        <div class="page-wrapper">
          <router-outlet />
        </div>
      </div>
    </main>

    <footer>
      <app-footer></app-footer>
    </footer>
  </div>
</mat-drawer-container>
<app-configuration />
