<mat-drawer-container class="drawer-container" [dir]="direction">
  <mat-drawer
    #sidebar
    class="pc-sidebar"
    [mode]="modeValue"
    opened
    [ngClass]="{
      compact: currentLayout === 'compact',
      horizontal: currentLayout === 'horizontal'
    }"
  >
    <nav aria-label="Main sidebar navigation">
      <div class="navbar-wrapper">
        <div class="m-header">
          <a href="/" class="flex align-item-center" aria-label="Application home">
            <img src="assets/images/logo-dark.svg" class="app-logo app-logo--sm" alt="logo" />
            <span class="version" aria-label="Application version">v{{ 1.0.0 }}</span>
          </a>
        </div>
        @if (currentLayout === 'vertical') {
          <app-vertical-menu [menus]="menus" />
        }
        @if (currentLayout === 'compact') {
          <app-compact-menu [menus]="menus" />
        }
      </div>
    </nav>
  </mat-drawer>
  <div>
    <header role="banner"><app-nav-bar
      [ngClass]="{
        'horizontal-navbar': currentLayout === 'horizontal'
      }"
    /></header>
    @if (currentLayout === 'horizontal') {
      <nav aria-label="Horizontal navigation"><app-horizontal-menu
        [menus]="menus"
        [ngClass]="{
          'horizontal-menu': currentLayout === 'horizontal'
        }"
      /></nav>
    }
    <div class="app-container">
      <!-- <app-breadcrumb [dashboard]="true" /> -->
      <main id="main-content" class="main-body" role="main">
        <div class="page-wrapper">
          <router-outlet />
        </div>
      </main>
    </div>
    <footer role="contentinfo"><app-footer></app-footer></footer>
  </div>
</mat-drawer-container>
<app-configuration />
<!-- <div class="floating-button">
  <a mat-flat-button class="b-rad-20" color="warn" [href]="buyNowLinkService.buyNowLink" target="_blank">
    <div class="flex align-item-center gap-1">
      <svg class="pc-icon">
        <use xlink:href="assets/fonts/custom-icon.svg#custom-shopping-cart"></use>
      </svg>
      <span>الوتساب</span>
    </div>
  </a>
</div> -->
