// This file is intentionally left empty to allow customers to add custom CSS if needed.

:host ::ng-deep .mat-mdc-form-field-prefix,
:host ::ng-deep .dial-code-select {
  width: 90px !important;
  flex: 0 0 90px;
}

:host ::ng-deep .mat-mdc-text-field-wrapper {
  padding: 0 !important;
}
