<div class="row">
  <div class="col-12">
    <app-card cardTitle="اضافة الحلقة">
      <form [formGroup]="circleForm" (ngSubmit)="onSubmit()" class="row">
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>اسم الحلقة</mat-label>
            <input matInput formControlName="name" placeholder="ادخل اسم الحلقة" />
            <mat-error *ngIf="submitted && circleForm.get('name')?.errors">اسم الحلقة مطلوب</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <label class="form-label">الفرع</label>
          <ng-select
            class="w-100"
            formControlName="branchId"
            [items]="branchOptions"
            bindLabel="label"
            bindValue="id"
            [searchable]="false"
            [clearable]="true"
            placeholder="الفرع"
          ></ng-select>
          <div class="text-danger small" *ngIf="submitted && circleForm.get('branchId')?.errors">الفرع مطلوب</div>
        </div>
        <div class="col-md-6">
          <label class="form-label">المعلم</label>
          <ng-select
            class="w-100"
            formControlName="teacherId"
            [items]="teachers"
            bindLabel="fullName"
            bindValue="id"
            [searchable]="true"
            [clearable]="true"
            placeholder="المعلم"
          ></ng-select>
          <div class="text-danger small" *ngIf="submitted && circleForm.get('teacherId')?.errors">المعلم مطلوب</div>
        </div>
        <div class="col-12">
          <div formArrayName="days">
            <ng-container *ngFor="let dayGroup of daysArray.controls; let i = index; trackBy: trackByIndex">
              <div class="row" [formGroupName]="i">
                <div class="col-md-5">
                  <label class="form-label">اليوم</label>
                  <ng-select
                    class="w-100"
                    formControlName="dayId"
                    [items]="days"
                    bindLabel="label"
                    bindValue="value"
                    [searchable]="false"
                    [clearable]="true"
                    placeholder="اليوم"
                  ></ng-select>
                  <div class="text-danger small" *ngIf="submitted && daysArray.at(i).get('dayId')?.errors">اليوم مطلوب</div>
                </div>
                <div class="col-md-5">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>الوقت</mat-label>
                    <input matInput type="time" formControlName="startTime" placeholder="ادخل الساعة" />
                    <mat-error *ngIf="submitted && daysArray.at(i).get('startTime')?.errors">الوقت مطلوب</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-2 d-flex align-items-center">
                  <button
                    mat-icon-button
                    color="warn"
                    type="button"
                    class="m-r-10"
                    aria-label="Remove day"
                    (click)="removeDay(i)"
                    *ngIf="daysArray.length > 1"
                  >
                    <mat-icon>حذف</mat-icon>
                  </button>
                  <button
                    mat-icon-button
                    color="primary"
                    type="button"
                    aria-label="Add day"
                    (click)="addDay()"
                    *ngIf="i === daysArray.length - 1"
                  >
                    <mat-icon>+ </mat-icon>
                  </button>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="col-md-6">
          <label class="form-label">المشرف</label>
          <ng-select
            class="w-100"
            formControlName="managers"
            [items]="managers"
            bindLabel="fullName"
            bindValue="id"
            [searchable]="true"
            [clearable]="true"
            placeholder="المشرف"
          ></ng-select>
        </div>
        <div class="col-md-6">
          <label class="form-label">الطلاب</label>
          <ng-select
            class="w-100"
            formControlName="studentsIds"
            [items]="students"
            bindLabel="fullName"
            bindValue="id"
            [multiple]="true"
            [searchable]="true"
            [clearable]="true"
            placeholder="الطلاب"
          ></ng-select>
        </div>
        <div class="col-12">
          <button mat-flat-button color="primary" type="submit">انشاء</button>
        </div>
      </form>
    </app-card>
  </div>
</div>
