<div class="auth-main">
  <div class="auth-wrapper version-1">
    <div class="auth-form">
      <div class="auth-background">
        <div class="yellow-circle"></div>
        <div class="red-circle"></div>
      </div>
      <div class="main-form">
        <app-card [showHeader]="false" class="auth-form-card" padding="40">
          <div class="forgot-logo m-b-25">
            <a href="javascript:">
              <img src="assets/images/logo-dark.svg" alt="logo" />
            </a>
          </div>
          <div class="check-me m-b-10">
            <h3 class="m-b-0">{{ 'AUTH.CODE_VERIFICATION.Title' | translate }}</h3>
          </div>
          <p class="text-muted forgot-logo m-b-25">{{ 'AUTH.CODE_VERIFICATION.EmailSent' | translate }}</p>
          @if (maskedEmail) {
            <p class="text-muted forgot-logo m-b-20">
              {{ 'AUTH.CODE_VERIFICATION.EmailMaskInfo' | translate: { email: maskedEmail } }}
            </p>
          } @else {
            <p class="text-muted forgot-logo m-b-20">
              {{ 'AUTH.CODE_VERIFICATION.EmailMaskFallback' | translate }}
            </p>
          }
          <div class="row text-center">
            <div class="col-2 g-0" *ngFor="let digit of codeDigits; let i = index">
              <mat-form-field appearance="fill" class="otp-input wid-80">
                <input
                  matInput
                  #codeInput
                  maxlength="1"
                  placeholder="0"
                  [(ngModel)]="codeDigits[i]"
                  (input)="onInput($event, i)"
                  (keydown)="onKeyDown($event, i)"
                  (paste)="onPaste($event)"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="grid">
            <button mat-flat-button color="primary" class="b-rad-20 m-t-20" (click)="verify()">
              {{ 'AUTH.CODE_VERIFICATION.Submit' | translate }}
            </button>
          </div>
          <div class="flex m-t-20">
            <p class="text-muted m-b-0">{{ 'AUTH.CODE_VERIFICATION.ResendPrompt' | translate }}</p>
            <a href="javascript:" class="text-primary-500 m-l-10">
              {{ 'AUTH.CODE_VERIFICATION.ResendLink' | translate }}
            </a>
          </div>
        </app-card>
      </div>
    </div>
  </div>
</div>
