<h2 mat-dialog-title>Payment Details</h2>
<div mat-dialog-content>
  <div class="payment-item">
    <strong>Invoice ID:</strong>
    <span>{{ data.invoiceId }}</span>
  </div>
  <div class="payment-item">
    <strong>Student ID:</strong>
    <span>{{ data.studentId }}</span>
  </div>
  <div class="payment-item">
    <strong>Subscribe:</strong>
    <span>{{ data.subscribe }}</span>
  </div>
  <div class="payment-item">
    <strong>Name:</strong>
    <span>{{ data.userName }}</span>
  </div>
  <div class="payment-item">
    <strong>Email:</strong>
    <span>{{ data.userEmail }}</span>
  </div>
  <div class="payment-item">
    <strong>Create Date:</strong>
    <span>{{ data.createDate ? (data.createDate | date: 'short') : 'N/A' }}</span>
  </div>
  <div class="payment-item">
    <strong>Due Date:</strong>
    <span>{{ data.dueDate ? (data.dueDate | date: 'short') : 'N/A' }}</span>
  </div>
  <div class="payment-item">
    <strong>Payment Date:</strong>
    <span>{{ data.paymentDate ? (data.paymentDate | date: 'short') : 'N/A' }}</span>
  </div>
  <div class="payment-item">
    <strong>Amount:</strong>
    <span>{{ data.amount }}</span>
  </div>
  <div class="payment-item">
    <strong>Currency:</strong>
    <span>{{ currencyEnum[data.currency ?? 1] }}</span>
  </div>
  <div class="payment-item">
    <strong>Status:</strong>
    <span>{{ data.statusText }}</span>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-button color="primary" (click)="viewInvoice()">View Invoice</button>
  <button mat-button mat-dialog-close>Close</button>
</div>
