<h2 mat-dialog-title>تفاصيل الفاتورة</h2>
<div mat-dialog-content>
  <div class="payment-item">
    <strong>رقم الفاتورة:</strong>
    <span>{{ data.invoiceId }}</span>
  </div>
  <div class="payment-item">
    <strong>الباقة:</strong>
    <span>{{ data.subscribe }}</span>
  </div>
  <div class="payment-item">
    <strong>الاسم:</strong>
    <span>{{ data.userName }}</span>
  </div>
  <div class="payment-item">
    <strong>البريد الالكتروني:</strong>
    <span>{{ data.userEmail }}</span>
  </div>
  <div class="payment-item">
    <strong>تاريخ انشاء الفاتورة:</strong>
    <span>{{ data.createDate ? (data.createDate | date: 'short') : 'N/A' }}</span>
  </div>
  <div class="payment-item">
    <strong>مستحق حتى:</strong>
    <span>{{ data.dueDate ? (data.dueDate | date: 'short') : 'N/A' }}</span>
  </div>
  <div class="payment-item">
    <strong>تاريخ السداد:</strong>
    <span>{{ data.paymentDate ? (data.paymentDate | date: 'short') : 'N/A' }}</span>
  </div>
  <div class="payment-item">
    <strong>المبلغ:</strong>
    <span>{{ data.amount }}</span>
  </div>
  <div class="payment-item">
    <strong>العملة:</strong>
    <span>{{ currencyLabel }}</span>
  </div>
  <div class="payment-item">
    <strong>حالة الدفع:</strong>
    <span>{{ data.statusText }}</span>
  </div>
</div>
<div mat-dialog-actions align="end">
  @if (canRevertPayment) {
  <button
    mat-button
    color="warn"
    (click)="revertPayment()"
    [disabled]="isUpdating"
  >
    تراجع عن اتمام الدفع
  </button>
}

  <button mat-button color="primary" (click)="viewInvoice()">عرض الفاتورة</button>
  <button mat-button mat-dialog-close>اغلاق</button>
</div>
