<mat-toolbar
  class="pc-header"
  [ngClass]="{
    'header-blur': HeaderBlur
  }"
>
  <div class="eid-toolbar-scene" aria-hidden="true">
    <span class="eid-bunting eid-bunting-left"></span>
    <span class="eid-bunting eid-bunting-right"></span>
    <span class="eid-crescent"></span>
    <span class="eid-star eid-star-1"></span>
    <span class="eid-star eid-star-2"></span>
    <span class="eid-star eid-star-3"></span>
    <span class="eid-glow eid-glow-left"></span>
    <span class="eid-glow eid-glow-right"></span>
  </div>
  <div class="header-wrapper">
    <app-nav-left></app-nav-left>
    <app-nav-right (HeaderBlur)="this.HeaderBlur = !this.HeaderBlur"></app-nav-right>
  </div>
</mat-toolbar>
