<div class="row">
  <div class="col-12">
    <app-card cardTitle="Update User">
      <form [formGroup]="basicInfoForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100 m-b-10">
              <mat-label>Full Name</mat-label>
              <input matInput type="text" placeholder="Enter Full Name" formControlName="fullName" />
              @if (basicInfoForm.get('fullName')?.touched && basicInfoForm.get('fullName')?.invalid) {
                <mat-error>Full name is required</mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100 m-b-10">
              <mat-label>Email</mat-label>
              <input matInput type="email" placeholder="Enter Email" formControlName="email" />
              @if (basicInfoForm.get('email')?.touched && basicInfoForm.get('email')?.invalid) {
                <mat-error>Email is required</mat-error>
              }
            </mat-form-field>
          </div>

          <div class="col-md-6 mb-3">
            <label class="form-label d-block">Mobile</label>
            <div class="d-flex gap-2 align-items-start">
              <ng-select
                class="flex-shrink-0 w-100"
                [items]="countries"
                bindLabel="name"
                bindValue="dialCode"
                formControlName="mobileCountryDialCode"
                (change)="onCountryCodeChange('mobileCountryDialCode')"
                placeholder="+1"
                [searchable]="true"
              ></ng-select>
              <mat-form-field appearance="outline" class="w-100 m-b-10">
                <input
                  matInput
                  type="text"
                  formControlName="mobile"
                  [mask]="mobileMask"
                  [placeholder]="mobilePlaceholder"
                  [dropSpecialCharacters]="false"
                  [validation]="!!mobileMask"
                  (click)="$event.stopPropagation()"
                />
              </mat-form-field>
            </div>
            @if (basicInfoForm.get('mobile')?.touched && basicInfoForm.get('mobile')?.invalid) {
              <div class="text-danger small">Mobile is required</div>
            }
          </div>

          <div class="col-md-6 mb-3">
            <label class="form-label d-block">Second Mobile</label>
            <div class="d-flex gap-2 align-items-start">
              <ng-select
                class="flex-shrink-0 w-100"
                [items]="countries"
                bindLabel="name"
                bindValue="dialCode"
                formControlName="secondMobileCountryDialCode"
                (change)="onCountryCodeChange('secondMobileCountryDialCode')"
                placeholder="+1"
                [searchable]="true"
              ></ng-select>
              <mat-form-field appearance="outline" class="w-100 m-b-10">
                <input
                  matInput
                  type="text"
                  formControlName="secondMobile"
                  [mask]="secondMobileMask"
                  [placeholder]="secondMobilePlaceholder"
                  [dropSpecialCharacters]="false"
                  [validation]="!!secondMobileMask"
                  (click)="$event.stopPropagation()"
                />
              </mat-form-field>
            </div>
          </div>

          <div class="col-md-6 mb-3">
            <label class="form-label">Nationality</label>
            <ng-select
              class="w-100"
              formControlName="nationalityId"
              [items]="nationalities"
              bindLabel="name"
              bindValue="id"
              placeholder="Select Nationality"
              [searchable]="true"
            ></ng-select>
            @if (basicInfoForm.get('nationalityId')?.touched && basicInfoForm.get('nationalityId')?.invalid) {
              <div class="text-danger small">Nationality id is required</div>
            }
          </div>

          <div class="col-md-6 mb-3">
            <label class="form-label">Place of residence</label>
            <ng-select
              class="w-100"
              formControlName="residentId"
              [items]="nationalities"
              bindLabel="name"
              bindValue="id"
              placeholder="Select place of residence"
              [searchable]="true"
            ></ng-select>
            @if (basicInfoForm.get('residentId')?.touched && basicInfoForm.get('residentId')?.invalid) {
              <div class="text-danger small">Place of residence is required</div>
            }
          </div>

          <div class="col-md-6 mb-3">
            <label class="form-label">Governorate</label>
            <ng-select
              class="w-100"
              formControlName="governorateId"
              [items]="governorates"
              bindLabel="name"
              bindValue="id"
              placeholder="Select Governorate"
              [searchable]="true"
            ></ng-select>
            @if (basicInfoForm.get('governorateId')?.touched && basicInfoForm.get('governorateId')?.invalid) {
              <div class="text-danger small">{{ 'EgyptGovernorateRequiredMessage' | translate }}</div>
            }
          </div>

          <div class="col-md-6 mb-3">
            <label class="form-label">Branch</label>
            <ng-select
              class="w-100"
              formControlName="branchId"
              [items]="Branch"
              bindLabel="label"
              bindValue="id"
              placeholder="Select Branch"
              [searchable]="false"
            ></ng-select>
            @if (basicInfoForm.get('branchId')?.touched && basicInfoForm.get('branchId')?.invalid) {
              <div class="text-danger small">Branch id is required</div>
            }
          </div>

          @if (isManager) {
            <div class="col-md-6 mb-3">
              <label class="form-label">Teachers</label>
              <ng-select
                class="w-100"
                formControlName="teacherIds"
                [items]="teachers"
                bindLabel="fullName"
                bindValue="id"
                [multiple]="true"
                [closeOnSelect]="false"
                [searchable]="true"
                placeholder="Select Teachers"
                (change)="onTeachersChange($event)"
              ></ng-select>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label">Students</label>
              <ng-select
                class="w-100"
                formControlName="studentIds"
                [items]="students"
                bindLabel="fullName"
                bindValue="id"
                [multiple]="true"
                [closeOnSelect]="false"
                [searchable]="true"
                placeholder="Select Students"
              ></ng-select>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label">Circles</label>
              <ng-select
                class="w-100"
                formControlName="circleIds"
                [items]="circles"
                bindLabel="name"
                bindValue="id"
                [multiple]="true"
                [closeOnSelect]="false"
                [searchable]="true"
                placeholder="Select Circles"
                [disabled]="true"
              ></ng-select>
            </div>
          }

          @if (isTeacher) {
            <div class="col-md-6 mb-3">
              <label class="form-label">Manager</label>
              <ng-select
                class="w-100"
                formControlName="managerId"
                [items]="managers"
                bindLabel="fullName"
                bindValue="id"
                [searchable]="true"
                [disabled]="true"
              ></ng-select>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label">Students</label>
              <ng-select
                class="w-100"
                formControlName="studentIds"
                [items]="students"
                bindLabel="fullName"
                bindValue="id"
                [multiple]="true"
                [closeOnSelect]="false"
                [searchable]="true"
                placeholder="Select Students"
                [disabled]="!basicInfoForm.get('managerId')?.value"
              ></ng-select>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label">Circle</label>
              <ng-select
                class="w-100"
                formControlName="circleId"
                [items]="circles"
                bindLabel="name"
                bindValue="id"
                [searchable]="true"
                [disabled]="!basicInfoForm.get('managerId')?.value"
              ></ng-select>
            </div>
          }

          @if (isStudent) {
            <div class="col-md-6 mb-3">
              <label class="form-label">Teacher</label>
              <ng-select
                class="w-100"
                formControlName="teacherId"
                [items]="teachers"
                bindLabel="fullName"
                bindValue="id"
                [searchable]="true"
                [disabled]="!basicInfoForm.get('managerId')?.value"
                (change)="onTeacherChange($event.value)"
              ></ng-select>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label">Manager</label>
              <ng-select
                class="w-100"
                formControlName="managerId"
                [items]="managers"
                bindLabel="fullName"
                bindValue="id"
                [searchable]="true"
                (change)="onManagerChange($event.value)"
              ></ng-select>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label">Circle</label>
              <ng-select
                class="w-100"
                formControlName="circleId"
                [items]="circles"
                bindLabel="name"
                bindValue="id"
                [searchable]="true"
                [disabled]="true"
              ></ng-select>
            </div>
          }
          <div class="col-md-12 text-end">
            <button mat-flat-button color="primary" [disabled]="basicInfoForm.invalid">Update</button>
          </div>
        </div>
      </form>
    </app-card>
  </div>
</div>
