<div class="row">
  <div class="col-12 mb-3 text-end">
    <div class="flex gap-2 justify-content-end">
      <mat-form-field appearance="outline">
        <mat-label>Month</mat-label>
        <input matInput [matDatepicker]="dataPicker" [formControl]="dataMonth" />
        <mat-datepicker-toggle matIconSuffix [for]="dataPicker"></mat-datepicker-toggle>
        <mat-datepicker
          #dataPicker
          startView="multi-year"
          (monthSelected)="setDataMonthAndYear($event, dataPicker)"
          panelClass="example-month-picker"
        ></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Compare Month</mat-label>
        <input matInput [matDatepicker]="comparePicker" [formControl]="compareMonth" />
        <mat-datepicker-toggle matIconSuffix [for]="comparePicker"></mat-datepicker-toggle>
        <mat-datepicker
          #comparePicker
          startView="multi-year"
          (monthSelected)="setCompareMonthAndYear($event, comparePicker)"
          panelClass="example-month-picker"
        ></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <div class="col-xxl-8">
    <div class="row g-3 mb-3">
      @for (cards of widgetCards; track cards) {
        <div class="col-md-6 col-lg-4">
          <app-card [showHeader]="false" [padding]="20" cardClass="m-b-0">
            <div class="m-b-10 flex align-item-center justify-content-between gap-1">
              <div class="f-w-600">{{ cards.title }}</div>
              <p class="m-b-0 text-muted flex align-item-center gap-1">
                <i class="f-14 ti ti-{{ cards.isLoss === true ? 'caret-down-filled' : 'caret-up-filled' }} {{ cards.color }}"></i>
                {{ cards.percentage }}%
              </p>
            </div>
            <div class="row g-2 align-item-center">
              <div class="col-6">
                <div class="f-w-600 f-16 m-b-5 m-t-15">{{ cards.value }}</div>
                <div class="flex align-item-center gap-1">
                  <div class="m-b-0 f-16 f-w-600">{{ cards.invoice }}</div>
                  <p class="m-b-0 text-muted flex align-item-center gap-2">invoices</p>
                </div>
              </div>
              <div class="col-6">
                <app-invoice-list-chart [seriesData]="cards.data" [colors]="cards.colors" />
              </div>
            </div>
          </app-card>
        </div>
      }
    </div>
  </div>
  <div class="col-xxl-4">
    <app-card [showHeader]="false" [padding]="14" cardClass="bg-primary-500">
      <div class="flex align-item-center justify-content-between">
        <div class="flex align-item-center">
          <div class="avatar avatar-s bg-primary-400">
            <i class="ti ti-file-text f-20 text-white"></i>
          </div>
          <div class="m-l-10">
            <div class="flex align-item-center">
              <p class="m-b-0 text-white">Total Receivables</p>
              <i class="ti ti-info-circle text-white m-l-10"></i>
            </div>
            <div class="flex align-item-center">
              <p class="m-b-0 text-white text-sm">Current</p>
              <p class="m-b-0 text-white m-l-10">{{ bigCard.currentReceivables }}</p>
            </div>
          </div>
        </div>
        <div class="flex">
          <p class="m-b-0 text-white text-sm">Overdue</p>
          <p class="m-b-0 text-white m-l-10">{{ bigCard.overdueReceivables }}</p>
        </div>
      </div>
      <div class="m-t-15 text-white f-16 f-w-600 m-b-5">${{ bigCard.totalReceivables }}</div>
      <div class="flex align-item-center">
        <div class="flex-grow-1 m-r-15">
          <mat-progress-bar color="warn" mode="determinate" [value]="bigCard.collectionRate"></mat-progress-bar>
        </div>
        <div class="flex-shrink-0 text-end wid-30">
          <p class="text-white m-b-0">{{ bigCard.collectionRate }}%</p>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-12">
    <app-card [showHeader]="false" [padding]="0">
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class="invoice-data">
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="flex align-item-center justify-content-between">
              All
              <div class="wid-20 hei-20 border-50 flex align-item-center justify-content-center bg-primary-50 text-primary-500 m-l-10">
                {{ tabCounts.all }}
              </div>
            </div>
          </ng-template>
          <div class="p-y-20">
            <app-invoice-list-table [month]="dataMonth.value?.format('YYYY-MM')" [search]="searchTerm" (countChange)="onTableCount('all', $event)" />
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="flex align-item-center justify-content-between">
              Paid
              <div class="wid-20 hei-20 border-50 flex align-item-center justify-content-center bg-success-50 text-success-500 m-l-10">
                {{ tabCounts.paid }}
              </div>
            </div>
          </ng-template>
          <div class="p-y-20">
            <app-invoice-list-table tab="paid" [month]="dataMonth.value?.format('YYYY-MM')" [search]="searchTerm" (countChange)="onTableCount('paid', $event)" />

          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="flex align-item-center justify-content-between">
              Unpaid
              <div class="wid-20 hei-20 border-50 flex align-item-center justify-content-center bg-warning-50 text-warning-500 m-l-10">
                {{ tabCounts.unpaid }}
              </div>
            </div>
          </ng-template>
          <div class="p-y-20">
            <app-invoice-list-table tab="unpaid" [month]="dataMonth.value?.format('YYYY-MM')" [search]="searchTerm" (countChange)="onTableCount('unpaid', $event)" />

          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="flex align-item-center justify-content-between">
              Overdue
              <div class="wid-20 hei-20 border-50 flex align-item-center justify-content-center bg-warn-50 text-warn-500 m-l-10">
                {{ tabCounts.overdue }}
              </div>
            </div>
          </ng-template>
          <div class="p-y-20">
            <app-invoice-list-table tab="overdue" [month]="dataMonth.value?.format('YYYY-MM')" [search]="searchTerm" (countChange)="onTableCount('overdue', $event)" />

          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="flex align-item-center justify-content-between">
              Cancelled
              <div class="wid-20 hei-20 border-50 flex align-item-center justify-content-center bg-warn-50 text-warn-500 m-l-10">
                {{ tabCounts.cancelled }}
              </div>
            </div>
          </ng-template>
          <div class="p-y-20">
            <app-invoice-list-table tab="cancelled" [month]="dataMonth.value?.format('YYYY-MM')" [search]="searchTerm" (countChange)="onTableCount('cancelled', $event)" />

          </div>
        </mat-tab>
      </mat-tab-group>
    </app-card>
  </div>
</div>
