@if (!item()!.hidden && isEnabled) {
  @if (item()!.url && !item()!.external) {
    <li
      [ngClass]="item().classes!"
      [routerLinkActive]="['active']"
      matTooltip="{{ !isEnabled ? 'يرجى تسجيل الخروج والدخول كمسؤول لعرض هذه الصفحة' : '' }}"
    >
      <a
        class="nav-link"
        [target]="item().target ? '_blank' : '_self'"
        [ngClass]="{ disabled: !isEnabled }"
        [routerLink]="[item().url]"
        (click)="closeOtherMenu()"
      >
        @if (item().icon) {
          <span class="coded-micon">
            <svg class="pc-icon">
              <use attr.xlink:href="assets/fonts/custom-icon.svg{{ item().icon }}"></use>
            </svg>
          </span>
        }
        @if (item().icon) {
          <span class="coded-mtext">{{ item()!.title }}</span>
        } @else {
          {{ item()!.title }}
        }
      </a>
    </li>
  } @else if (item()!.url && item()!.external) {
    <li [ngClass]="item()!.classes!" matTooltip="{{ !isEnabled ? 'يرجى تسجيل الخروج والدخول كمسؤول لعرض هذه الصفحة' : '' }}">
      <a
        [target]="item()!.target ? '_blank' : '_self'"
        [href]="item()!.url"
        [ngClass]="{ disabled: !isEnabled }"
      >
        @if (item()!.icon) {
          <span class="coded-micon">
            <svg class="pc-icon">
              <use attr.xlink:href="assets/fonts/custom-icon.svg{{ item()!.icon }}"></use>
            </svg>
          </span>
        }
        @if (item().icon) {
          <span class="coded-mtext">{{ item().title }}</span>
        } @else {
          {{ item().title }}
        }
      </a>
    </li>
  }
}
