<div class="row p-t-25">
  <div class="col-12">
    <app-card cardTitle="تفاصيل الحلقة" padding="0" cardClass="sm-block">
      <div class="p-10">
        <h5 class="m-b-10">{{ course?.name }}</h5>
        <div class="course-details-table" *ngIf="course as currentCourse">
          <div
            class="course-detail-row"
            *ngIf="course?.teacher || course?.teacherName || course?.teacherId"
          >
            <span class="course-detail-label">المعلم</span>
            <span class="course-detail-value">
              {{ course?.teacher?.fullName || course?.teacherName || course?.teacherId }}
            </span>
          </div>
          <div class="course-detail-row" *ngIf="getBranchLabel(currentCourse.branchId) as branch">
            <span class="course-detail-label">الفرع</span>
            <span class="course-detail-value">{{ branch }}</span>
          </div>

          <ng-container *ngIf="getSchedule(currentCourse) as schedule">
            <div class="course-detail-row" *ngIf="schedule.length">
              <span class="course-detail-label">المواعيد</span>
              <div class="course-detail-value">
                <ul class="course-detail-list">
                  <li *ngFor="let day of schedule" class="schedule-item">
                    <span class="schedule-day">{{ getScheduleDayLabel(day) }}</span>
                    <ng-container *ngIf="getScheduleTimeLabel(day) as time">
                      <span class="schedule-separator">•</span>
                      <span class="schedule-time">{{ time }}</span>
                    </ng-container>
                  </li>
                </ul>
              </div>
            </div>

            <ng-container *ngIf="!schedule.length">
              <div class="course-detail-row" *ngIf="getDayLabel(currentCourse)">
                <span class="course-detail-label">يوم</span>
                <span class="course-detail-value">{{ getDayLabel(currentCourse) }}</span>
              </div>
              <div class="course-detail-row" *ngIf="getFormattedStartTime(currentCourse)">
                <span class="course-detail-label">الوقت</span>
                <span class="course-detail-value">{{ getFormattedStartTime(currentCourse) }}</span>
              </div>
            </ng-container>
          </ng-container>

          <ng-container *ngIf="getManagers(currentCourse) as managers">
            <div class="course-detail-row" *ngIf="managers.length">
              <span class="course-detail-label">المشرف</span>
              <div class="course-detail-value">
                <ul class="course-detail-list">
                  <li *ngFor="let manager of managers" class="schedule-item">
                    <span class="schedule-day">{{ manager.manager }}</span>
                  </li>
                </ul>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="p-b-15">
        <div class="table-containe table-reponsive">
          <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              <ng-container matColumnDef="fullName">
                <th mat-header-cell *matHeaderCellDef class="p-l-25">الطلاب</th>
                <td mat-cell *matCellDef="let element" class="p-l-25 text-nowrap">
                  {{ element.student?.fullName || element.fullName }}
                </td>
              </ng-container>
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef class="text-center"></th>
                <td mat-cell *matCellDef="let element" class="text-center">
                  <ul class="list-inline p-l-0 m-b-0">
                    <!-- <li class="list-inline-item" matTooltip="اضافة تقرير">
                      <button
                        [routerLink]="['/online-course/student/report/add', element.studentId || element.id]"
                        [state]="{ circle: course }"
                        class="avatar avatar-xs text-muted"
                      >
                        <i class="ti ti-report f-18"></i>
                    </button>
                    </li> -->
                  </ul>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              <tr class="mat-row" *ngIf="dataSource.data.length === 0">
                <td class="mat-cell" colspan="2">لا يوجد طلاب لهذة الحلقة بعد</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </app-card>
  </div>
</div>
