<footer class="theme-footer">
  <div class="footer-wrapper">
    <div class="flex align-item-center">
      <div class="col m-y-5">
        <p class="m-0">
          Ajyal-alquran created with &#9829; by team
          <a href="http://linkedin.com/in/mostafa-gamal-875ab8245" target="_blank" class="text-primary-500">Mostafa Gamal </a>
        </p>
      </div>
      <div class="col-auto">
        <ul class="list-inline footer-link m-b-0">
          <li class="list-inline-item"><a href="https://ajyal-alquran.com/">Home</a></li>
          <li class="list-inline-item"><a href="https://phoenixcoded.gitbook.io/able-pro" target="_blank">Documentation</a></li>
          <li class="list-inline-item"><a href="https://phoenixcoded.authordesk.app/" target="_blank">Support</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
