<app-card [cardTitle]="(isEdit ? 'Edit Subscribe' : 'Add Subscribe') | translate">
  <form [formGroup]="form" (ngSubmit)="submit()" class="row g-3">
    <div class="col-md-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ 'Name' | translate }}</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ 'Minutes' | translate }}</mat-label>
        <input matInput type="number" formControlName="minutes" />
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ 'LE Price' | translate }}</mat-label>
        <input matInput type="number" formControlName="leprice" />
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ 'SAR Price' | translate }}</mat-label>
        <input matInput type="number" formControlName="sarprice" />
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ 'USD Price' | translate }}</mat-label>
        <input matInput type="number" formControlName="usdprice" />
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ 'Subscribe Type' | translate }}</mat-label>
        <mat-select formControlName="subscribeTypeId">
          <mat-option *ngFor="let t of types" [value]="t.id">
            {{ t.name }} ({{ resolveCategoryLabel(t.type) }})
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-12">
      <button mat-flat-button color="primary" type="submit">{{ 'Save' | translate }}</button>
    </div>
  </form>
</app-card>
