<app-card [showHeader]="false">
  <div class="flex align-item-center justify-content-between">
    <div class="f-16 f-w-600">Total Income</div>
    <a [matMenuTriggerFor]="menu" class="avatar avatar-s hover"><i class="ti ti-dots-vertical f-18"></i></a>
    <mat-menu #menu="matMenu">
      <a mat-menu-item>اليوم</a>
      <a mat-menu-item>أسبوعيًا</a>
      <a mat-menu-item>شهريًا</a>
    </mat-menu>
  </div>
  <apx-chart
    [series]="chartOptions.series!"
    [chart]="chartOptions.chart!"
    [colors]="chartOptions.colors!"
    [labels]="chartOptions.labels!"
    [plotOptions]="chartOptions.plotOptions!"
    [fill]="chartOptions.fill!"
    [legend]="chartOptions.legend!"
    [responsive]="chartOptions.responsive!"
    [dataLabels]="chartOptions.dataLabels!"
  ></apx-chart>
  <div class="row g-3 m-t-15">
    @if (slices.length === 0) {
      <div class="col-12 text-center text-muted mat-caption">No revenue data available.</div>
    } @else {
      @for (slice of slices; track slice.label; let i = $index) {
        <div class="col-sm-6 m-t-15">
          <div class="income-value">
            <div class="flex align-item-center m-b-10">
              <div class="flex-shrink-0">
                <span class="p-5 block border-50" [ngStyle]="{ 'background-color': getSliceColor(i) }"></span>
              </div>
              <div class="flex-grow-1 m-l-10">
                <p class="m-b-0 f-w-500">{{ slice.label }}</p>
              </div>
            </div>
            <div class="f-16 f-w-600">
              {{ formatValue(slice) }}
              <span class="text-muted f-w-500">{{ formatPercentage(slice.percentage) }}</span>
            </div>
          </div>
        </div>
      }
    }
  </div>
</app-card>
