.table-options {
  display: flex;
  align-items: center;

  @media (max-width: 575px) {
    display: block;
    .mdc-button {
      margin-top: 10px;
    }
  }
}

::ng-deep .missing-assignments .mat-column-fullName {
  color: var(--warning-600, #d97706);
  font-weight: 600;
}
