<div class="row p-t-25">
  <div class="col-12">
    <app-card [cardTitle]="'Courses' | translate" padding="0" cardClass="sm-block">
      <ng-template #headerOptionsTemplate>
        <div class="table-options">
          <button mat-flat-button color="primary" [routerLink]="['/online-course/courses/add']">
            <div class="flex align-item-center">
              <i class="ti ti-plus f-18 m-r-5"></i>
              {{ 'Add Course' | translate }}
            </div>
          </button>
        </div>
      </ng-template>
      <div class="p-b-15">
        <div class="table-containe table-reponsive">
          <div class="table-search p-t-15 p-x-15">
            <mat-form-field appearance="outline" class="w-100">
              <input matInput (keyup)="applyFilter($event)" [placeholder]="'Search...' | translate" #input />
            </mat-form-field>
          </div>
          <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef class="p-l-25">{{ 'Name' | translate }}</th>
                <td mat-cell *matCellDef="let element" class="p-l-25 text-nowrap">{{ element.name }}</td>
              </ng-container>
              <ng-container matColumnDef="teacher">
                <th mat-header-cell *matHeaderCellDef>{{ 'Teacher' | translate }}</th>
                <td mat-cell *matCellDef="let element" class="text-nowrap">
                  {{ element.teacher?.fullName || element.teacherName || element.teacherId }}
                </td>
              </ng-container>
              <ng-container matColumnDef="schedule">
                <th mat-header-cell *matHeaderCellDef>{{ 'Schedule' | translate }}</th>
                <td mat-cell *matCellDef="let element" class="multi-value-cell">
                  <ng-container *ngIf="element.scheduleEntries?.length; else noSchedule">
                    <ul class="multi-value-list" [attr.aria-label]="'Course schedule' | translate">
                      <li *ngFor="let schedule of element.scheduleEntries; trackBy: trackBySchedule">
                        {{ formatSchedule(schedule) }}
                      </li>
                    </ul>

                  </ng-container>
                  <ng-template #noSchedule>-</ng-template>
                </td>
              </ng-container>
              <ng-container matColumnDef="managers">
                <th mat-header-cell *matHeaderCellDef class="text-center">{{ 'Managers' | translate }}</th>
                <td mat-cell *matCellDef="let element" class="text-center">
                  <button
                    type="button"
                    class="avatar avatar-xs text-muted"
                    [matTooltip]="'View Managers' | translate"
                    (click)="openParticipantsDialog(element, { showStudents: false })"
                    [disabled]="!element.managerLabels?.length && !element.managers?.length"
                  >
                    <i class="ti ti-users f-18"></i>
                  </button>
                </td>
              </ng-container>
              <ng-container matColumnDef="students">
                <th mat-header-cell *matHeaderCellDef class="text-center">{{ 'Students' | translate }}</th>
                <td mat-cell *matCellDef="let element" class="text-center">
                  <button
                    type="button"
                    class="avatar avatar-xs text-muted"
                    [matTooltip]="'View Students' | translate"
                    (click)="openParticipantsDialog(element, { showManagers: false })"
                    [disabled]="!element.studentLabels?.length && !element.students?.length"
                  >
                    <i class="ti ti-user f-18"></i>
                  </button>
                </td>
              </ng-container>
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef class="text-center">{{ 'Actions' | translate }}</th>
                <td mat-cell *matCellDef="let element" class="text-nowrap">
                  <div class="text-center text-nowrap">
                    <ul class="list-inline p-l-0">
                      <li class="list-inline-item m-r-10" [matTooltip]="'View' | translate">
                        <a
                          [routerLink]="['/online-course/courses/details', element.id]"
                          [state]="{ course: element }"
                          class="avatar avatar-xs text-muted"
                        >

                          <i class="ti ti-eye f-18"></i>
                        </a>
                      </li>
                      <li class="list-inline-item m-r-10" [matTooltip]="'Edit' | translate" *ngIf="!isTeacherOrStudent">
                        <a
                          [routerLink]="['/online-course/courses/edit', element.id]"
                          [state]="{ course: element }"
                          class="avatar avatar-xs text-muted"
                        >
                          <i class="ti ti-edit-circle f-18"></i>
                        </a>
                      </li>
                      <li class="list-inline-item m-r-10" [matTooltip]="'Delete' | translate">
                        <a (click)="deleteCircle(element.id)" class="avatar avatar-xs text-muted">
                          <i class="ti ti-trash f-18"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="6">
                  {{ 'No data matching the filter "{{ value }}"' | translate: { value: input.value } }}
                </td>
              </tr>
            </table>
            <mat-paginator
              [length]="totalCount"
              [pageSize]="filter.maxResultCount!"
              [pageSizeOptions]="[5, 10, 25, 100]"
              [attr.aria-label]="'Select page of courses' | translate"
            ></mat-paginator>
          </div>
        </div>
      </div>
    </app-card>
  </div>
</div>
