<div class="row m-t-25">
  <div class="col-sm-12">
    <app-card cardTitle="Change Password">
      <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-6">
            <label for="currentPassword" class="f-w-500">Old Password</label>
            <mat-form-field appearance="outline" class="w-100 m-t-5">
              <input
                matInput
                id="currentPassword"
                formControlName="currentPassword"
                [type]="hide ? 'password' : 'text'"
                autocomplete="current-password"
              />
              <button
                mat-icon-button
                matSuffix
                type="button"
                (click)="hide = !hide"
                [attr.aria-label]="'Toggle password visibility'"
                [attr.aria-pressed]="!hide"
              >
                <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
              @if (currentPasswordControl.invalid && (currentPasswordControl.dirty || currentPasswordControl.touched)) {
                <mat-error>{{ getCurrentPasswordError() }}</mat-error>
              }
            </mat-form-field>

            <div class="m-b-15">
              <label for="newPassword" class="f-w-500">New Password</label>
              <mat-form-field appearance="outline" class="w-100 m-t-5">
                <input
                  matInput
                  id="newPassword"
                  formControlName="newPassword"
                  [type]="newHide ? 'password' : 'text'"
                  autocomplete="new-password"
                />
                <button
                  mat-icon-button
                  matSuffix
                  type="button"
                  (click)="newHide = !newHide"
                  [attr.aria-label]="'Toggle password visibility'"
                  [attr.aria-pressed]="!newHide"
                >
                  <mat-icon>{{ newHide ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                @if (newPasswordControl.invalid && (newPasswordControl.dirty || newPasswordControl.touched)) {
                  <mat-error>{{ getNewPasswordError() }}</mat-error>
                }
                @if (passwordStrength) {
                  <mat-hint>Password Strength: {{ passwordStrength }}</mat-hint>
                }
              </mat-form-field>
            </div>

            <label for="confirmPassword" class="f-w-500">Confirm Password</label>
            <mat-form-field appearance="outline" class="w-100 m-t-5">
              <input
                matInput
                id="confirmPassword"
                formControlName="confirmPassword"
                [type]="conHide ? 'password' : 'text'"
                autocomplete="new-password"
              />
              <button
                mat-icon-button
                matSuffix
                type="button"
                (click)="conHide = !conHide"
                [attr.aria-label]="'Toggle password visibility'"
                [attr.aria-pressed]="!conHide"
              >
                <mat-icon>{{ conHide ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
              @if (confirmPasswordControl.invalid && (confirmPasswordControl.dirty || confirmPasswordControl.touched)) {
                <mat-error>{{ getConfirmPasswordError() }}</mat-error>
              }
              @if (
                confirmPasswordControl.value &&
                !confirmPasswordControl.invalid &&
                (confirmPasswordControl.dirty || confirmPasswordControl.touched)
              ) {
                <mat-hint class="text-success-500">Passwords match.</mat-hint>
              }
            </mat-form-field>

            <div class="d-flex justify-content-end m-t-20">
              <button
                mat-flat-button
                color="primary"
                type="submit"
                class="b-rad-4"
                [disabled]="loading"
              >
                @if (loading) {
                  <mat-progress-spinner class="btn-spinner" mode="indeterminate" diameter="20"></mat-progress-spinner>
                  <span class="m-l-10">Saving...</span>
                } @else {
                  Save Changes
                }
              </button>
            </div>
          </div>
          <div class="col-md-6">
            <div class="f-w-500 f-16">New password must contain:</div>
            <ul class="list-group list-group-flush">
              @for (requirement of passwordRequirements; track requirement.title) {
                <li class="list-group-item flex align-item-center">
                  <i class="ti ti-circle-check text-success-500 f-16 m-r-10"></i>
                  {{ requirement.title }}
                </li>
              }
            </ul>
          </div>
        </div>
      </form>
    </app-card>
  </div>
</div>
