<div class="row">
  <div class="col-12">
    <app-card cardTitle="Basic Information">
      <form [formGroup]="basicInfoForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100 m-b-10">
              <mat-label>{{ 'Full Name' | translate }}</mat-label>
              <input matInput type="text" [placeholder]="'Enter Full Name' | translate" formControlName="fullName" />
              @if (submitted && basicInfoForm.get('fullName')?.errors) {
                <mat-error>{{ 'Full name is required' | translate }}</mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100 m-b-10">
              <mat-label>{{ 'Email' | translate }}</mat-label>
              <input matInput type="email" [placeholder]="'Enter Email' | translate" formControlName="email" />
              @if (submitted && basicInfoForm.get('email')?.errors) {
                <mat-error>{{ 'Email is required' | translate }}</mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100 m-b-10">
              <mat-label>{{ 'Mobile' | translate }}</mat-label>
              <mat-select
                formControlName="mobileCountryDialCode"
                (selectionChange)="onCountryCodeChange('mobileCountryDialCode')"
                matPrefix
                appOpenSelectOnType
                placeholder="+1"
              >
                <mat-option *ngFor="let c of countries" [value]="c.dialCode">
                  {{ c.name }} ({{ c.dialCode }})
                </mat-option>
              </mat-select>
              <input
                matInput
                type="text"
                formControlName="mobile"
                [mask]="mobileMask"
                [placeholder]="mobilePlaceholder"
                [dropSpecialCharacters]="false"
                [validation]="!!mobileMask"
                (click)="$event.stopPropagation()"
              />
              @if (submitted && basicInfoForm.get('mobile')?.errors) {
                <mat-error>{{ 'Mobile is required' | translate }}</mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100 m-b-10">
              <mat-label>{{ 'Second Mobile' | translate }}</mat-label>
              <mat-select
                formControlName="secondMobileCountryDialCode"
                (selectionChange)="onCountryCodeChange('secondMobileCountryDialCode')"
                matPrefix
                appOpenSelectOnType
                placeholder="+1"
              >
                <mat-option *ngFor="let c of countries" [value]="c.dialCode">
                  {{ c.name }} ({{ c.dialCode }})
                </mat-option>
              </mat-select>
              <input
                matInput
                type="text"
                formControlName="secondMobile"
                [mask]="secondMobileMask"
                [placeholder]="secondMobilePlaceholder"
                [dropSpecialCharacters]="false"
                [validation]="!!secondMobileMask"
                (click)="$event.stopPropagation()"
              />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100 m-b-10">
              <mat-label>{{ 'Password' | translate }}</mat-label>
              <input matInput type="password" [placeholder]="'Enter Password' | translate" formControlName="passwordHash" />
              @if (submitted && basicInfoForm.get('passwordHash')?.errors) {
                <mat-error>{{ 'Password is required' | translate }}</mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100 m-b-10">
              <mat-label>{{ 'Nationality' | translate }}</mat-label>
              <mat-select formControlName="nationalityId" [placeholder]="'Select Nationality' | translate" appOpenSelectOnType>
                <mat-option *ngFor="let n of nationalities" [value]="n.id">{{ n.name }}</mat-option>
              </mat-select>
              @if (submitted && basicInfoForm.get('nationalityId')?.errors) {
                <mat-error>{{ 'Nationality is required' | translate }}</mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100 m-b-10">
              <mat-label>{{ 'Place of residence' | translate }}</mat-label>
              <mat-select formControlName="residentId" [placeholder]="'Select place of residence' | translate" appOpenSelectOnType>
                <mat-option *ngFor="let n of nationalities" [value]="n.id">{{ n.name }}</mat-option>
              </mat-select>
              @if (submitted && basicInfoForm.get('residentId')?.errors) {
                <mat-error>{{ 'Place of residence is required' | translate }}</mat-error>
              }
            </mat-form-field>
          </div>
          @if (showGovernorateSelect) {
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="w-100 m-b-10">
                <mat-label>{{ 'Governorate' | translate }}</mat-label>
                <mat-select formControlName="governorateId" [placeholder]="'Select Governorate' | translate" appOpenSelectOnType>
                  <mat-option *ngFor="let g of governorates" [value]="g.id">{{ g.name }}</mat-option>
                </mat-select>
                @if (submitted && basicInfoForm.get('governorateId')?.hasError('required')) {
                  <mat-error>{{ 'Governorate is required' | translate }}</mat-error>
                }
              </mat-form-field>
            </div>
          }
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100 m-b-10">
              <mat-label>{{ 'Branch' | translate }}</mat-label>
              <mat-select formControlName="branchId" [placeholder]="'Select Branch' | translate" appOpenSelectOnType>
                <mat-option *ngFor="let b of Branch" [value]="b.id">{{ b.label }}</mat-option>
              </mat-select>
              @if (submitted && basicInfoForm.get('branchId')?.errors) {
                <mat-error>{{ 'Branch is required' | translate }}</mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-md-12 text-end">
            <button mat-flat-button color="primary" type="submit" [disabled]="isSubmitting">
              @if (isSubmitting) {
                <mat-icon>autorenew</mat-icon>
              }
              {{ isSubmitting ? ('Submitting...' | translate) : ('Submit' | translate) }}
            </button>
          </div>
        </div>
      </form>
    </app-card>
  </div>
</div>
